.main_body{
    background-color: #FDEBD0;
}

.recipe_list{
    list-style: none;
    text-align: center;
    padding-right: 2%;
}

.recipe_list li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.recipe_list li{
    padding-bottom: 20px;
}

.main_heading{
    font-family: sans-serif;
    text-align: center;
    padding-top: 30vh;
    font-size: 36px;
}